*venv/
__pycache__/
*.pyc
db.sqlite3
.env
.env.auth
.env.game
.env.mfa
*.key
*.rdb
*.idea/
*.tar
prometheus/prometheus-data/*
grafana/grafana_data/*
grafana/logs/*
grafana/provisioning/*
grafana/dashboard/*
!prometheus/prometheus-data
!grafana/grafana_data
!grafana/logs
!grafana/provisioning
!grafana/dashboard
