.guest-view {
    display: grid;
    align-items: center;
    color: white;
    height: 100%;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}

.heading {
    display: flex;
    gap: 30px;
    align-items: center;
    /* margin-bottom: 20px; */
    color: white;
    font-size: 2rem;
}

.profile-picture {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border-radius: 50%;
    font-size: 2rem;
    overflow: hidden;
    position: relative;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none; /* hide it by default */
}

.profile-picture .initial {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: red;
}

.flex-container {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.orange-2FA-button{
    all: unset;
    display: block;
	background: var(--background-yellow);
	color: black;
	padding: 10px;
	border-radius: 8px;
	font-size: 20px;
}


.total-match-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 70px;
    font-size: 1.5rem;
}

.matches-lost, .matches-won {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.matches-lost {
    color: darkred;
}

.matches-won {
    color: darkgreen;
}

.score {
    padding-top: 20px;
}

.previous-matches-container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 10px;
    margin-top: 20px;
    width: 90%;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #22211F;
    border-radius: 10px;
    background-color: #030714;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.previous-matches-heading {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: lightcyan;
}

.previous-matches {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.match {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.winner {
    color: green;
    font-weight: bold;
}

.loser {
    color: red;
}

.winner, .loser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-basis: 40%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
}

.player-score {
    flex-shrink: 0; /* Prevents the score from shrinking */
    margin-left: 5px;
    font-weight: bold;
}

.vs {
    flex-basis: 20%;
    text-align: center;
    color: #555;
    font-weight: bold;
}

.tournaments {
    color: white;
    font-weight: bold; /* Optional: Makes the text bold */
    font-size: 1.2em;  /* Optional: Adjusts the font size */
    padding-top: 50px;
}
