:root {
    /* Color Palette */


    /* Text Colors */
    --text-color: #333333;
    --text-light: #ffffff;

    /* Background Colors */
    --background-login: #FFCB13;
    --background-dark: #343a40;

    /* FONT */
    --font-primary: 'Puritan', sans-serif;
}

body {
    font-family: var(--font-primary), sans-serif;
}

auth-dialog {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}