
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* biggest options: */
:root{
  --game-height: 721px;
  --game-width: 1334px;
  --background-color: black;
  --color: rgb(201, 201, 201);
  --font-size: 16px;
  --body-fit: 100%;
}
/* 
gameplay:
1334x721 
*/
/* 
native:
1280x720 
*/
@media (width <= 1334px)
{
  :root{
    --game-width: 1200px;
  }
  body{
    border: 2px solid yellow;
  }
}
@media (height <= 800px)
{
  :root{
    --game-height: 630px;
    --game-width: 1200px;
  }
  body{
    border: 2px solid wheat;
  }
}

@media (height <= 700px) or (width <= 850)
{
  :root{
    --game-height: 600px;
    --game-width: 850px;
    --body-fit: 100%;
  }
  body{
    border: 2px solid orange;
  }
}
@media (height <= 700px)
{
  :root{
    --game-height: 500px;
    --game-width: 850px;
    --body-fit: 100%;
  }
  body{
    border: 2px solid purple;
  }
}


@media (height <= 600px) or (width <= 900px)
{
  :root{
    --game-height: 400px;
    --game-width: 600px;
    --font-size: 11px;
    --body-fit: none;
  }
  body{
    border: 3px solid pink;
    height: none;
  }
}


html, body{
  height: var(--body-fit);
  background-color: var(--background-color);
  font-family: 'Press Start 2P';
  font-size: var(--font-size);
}
body{
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  width: 100%;
  min-width: var(--game-width);
  flex-direction: column;
  padding: 20px 50px;
  position: relative;
}
header{
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
#sign-up{
  position: absolute;
  top:15px;
  right: 15px;
}
h1{
  color: var(--color);
  font-size: 2.5rem;
  /* text-align: center; */
}
li, p{
  color: var(--color);
}
main-menu{
  /* background-color: pink; */
  position: relative;
  height: var(--game-height);  
  width: var(--game-width);
  display: flex;
  font-size: 2rem;
}
canvas{
  /* background-color: pink; */
  position: absolute;
  height: inherit;
  width: inherit;
  border: 6px solid var(--color);
}
left-menu, right-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
  height: 100%;
  width: 50%;
  /* border: 2px solid orange; */
}
left-menu{
  position:relative;
}
right-menu{
  align-items: end;
}
left-menu .menu-option{
  padding-left: 40px;
}
right-menu .menu-option{
  z-index: 22;
  padding-right: 40px;
}
.menu-option{
  display: block;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
}
button{
  all: unset;
  color: var(--color);
  background-color: var(--background-color);
}
left-menu .menu-option:hover{
  padding-left: 20px;
  border-left: 11px solid var(--color);
}
right-menu .menu-option:hover{
  /* background-color: red; */
  padding-right: 20px;
  border-right: 11px solid var(--color);
}
vertical-line{
  position:absolute;
  border-left: 6px dotted var(--color);
  height: 90%;
  right: -5px;
  top: 5%;
}