/* Main CSS configurations */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --header-footer-height: 10vh;
  --canvas-height: 80vh;  /* Full height minus header and footer */
  --canvas-width: calc(var(--canvas-height) * 16 / 9);  /* Aspect ratio of 16:9 */
  --font-size: 3vh;  /* Responsive font size based on height */
  --background-color: black;
  --highlight-color: rgb(255, 255, 255);
  --color: rgb(172, 172, 172);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: 'Press Start 2P';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header, footer {
  font-size: calc(5vh);
  color: var(--highlight-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: var(--header-footer-height);
}

main-menu {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: var(--header-footer-height) auto var(--header-footer-height);
  width: 100vw;
  height: 100vh;
}

#gameCanvas {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  background-color: #000;
  width: 100%;
  height: var(--canvas-height);
}

left-menu, right-menu {
  display: grid;
  grid-template-rows: repeat(9, 1fr);  /* 9 rows for the height of the canvas */
}

left-menu {
  grid-column: 1 / 9;  /* First 8 columns */
}

right-menu {
  grid-column: 9 / 17;  /* Last 8 columns */
  text-align: right;
}

.menu-option {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size);
  color: var(--color);
  cursor: pointer;
}

.menu-option button {
  background: transparent;
  border: none;
  color: inherit;
  padding: 10px;
  width: 100%;
}

.menu-option:hover {
  background-color: var(--highlight-color);
  color: #fff;
}
