/* Main CSS configurations */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --top-bottom-height: 10vh;
  --game-height: calc(100vh - var(--top-bottom-height)*2);
  --game-width: calc(var(--game-height) * 16 / 9);
  --font-size: 3vh; /* Use viewport width for responsive font size */
  --background-color: black;
  --highlight-color: rgb(255, 255, 255);
  --color: rgb(172, 172, 172);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: 'Press Start 2P';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  font-size: calc(5vh);
  color: var(--highlight-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

footer {
  height: var(--top-bottom-height);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color);
  font-size: 2.5rem;
}

main-menu {
  width: var(--game-width);
  height: var(--game-height);
  position: relative;
  display: flex;
  justify-content: space-between; /* Ensure space between left and right menus */
  background-color: #fff;
}

#gameCanvas {
  width: 100%;
  height: 100%;
  background-color: #000;
}

left-menu, right-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Align the buttons to the top */
  list-style-type: none;
  height: 100%;
  position: absolute; /* Ensure they are positioned absolutely within the main menu */
  top: 0;
}

left-menu {
  width: 50%; /* Make it a percentage of the menu area */
  left: 0; /* Position the left menu on the left side */
}

right-menu {
  width: 50%; /* Make it a percentage of the menu area */
  right: 0; /* Position the right menu on the right side */
  text-align: right;
  padding-right: 2rem; /* Add margin from the right */
}

.menu-option button {
  all: unset;
  display: block;
  width: 100%;
  font-size: var(--font-size); /* Adjust font size dynamically based on viewport width */
  text-align: left; /* Align text to the left for left-menu */
  background-color: transparent; /* Ensure the background is transparent */
  cursor: pointer; /* Add cursor pointer for better UX */
  padding: 1rem; /* Adjust padding to ensure it covers the line */
}

.menu-option {
  display: block;
  text-decoration: none;
  font-size: var(--font-size); /* Adjust font size dynamically based on viewport width */
  color: var(--color);
  border-radius: 5px;
  margin: 0.5rem 0;
}

#right-menu-container {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Hide any overflow content */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align content to the left */
  justify-content: flex-start; /* Align content to the top */
  text-align: right;
  padding-right: 2rem; /* Add margin from the right */
  padding: 10px; /* Add padding for better spacing */
}

right-menu .menu-option button {
  text-align: right; /* Align text to the right for right-menu */

}

.menu-option:hover {
  color: #fff;
}

.paddle {
  position: absolute;
  width: 10px;
  background-color: white;
}


@media (max-height: 720px) {
  :root {
    --top-bottom-height: 0vh;
    --game-height: 720px;
    --game-width: 1280px;
    --font-size: 20px;
  }

  /* body {
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */

  header, footer {
    display: none; /* Hide header and footer */
  }

  /* main-menu {
    width: 1280px;
    height: 720px;
  }

  #gameCanvas {
    height: 1280px;
    width: 720px;
  } */
}